@page "/notas"
@model ATCSHARP.Pages.ViewNotes.ViewNotesModel

@{
    ViewData["Title"] = "ViewNotes";
}

<h2>Salve seu texto em um arquivo!</h2>
<form method="post">
	<label asp-for="Input.Content">Texto: </label>
	<input asp-for="Input.Content" class="form-control" />
	<button type="submit" class="btn btn-primary mt-2">Salvar</button>
</form>

<br />

<h2><strong>Notas salvas</strong></h2>

@if (Model.Arquivos != null && Model.Arquivos.Any()) {

	<ul>
		@foreach (var arquivo in Model.Arquivos) {
			<li>
				<a asp-page="/ViewNotes/ViewNotes" asp-route-file="@arquivo">@arquivo</a>
			</li>
		}
	</ul>
}
else {
	<p>Nenhum arquivo salvo ainda.</p>
}

@if (!string.IsNullOrEmpty(Model.ConteudoLido)) {
	<br />
	<h2>Visualização do arquivo: @Model.NomeSelecionado</h2>
	<p>@Model.ConteudoLido</p>
}

