@page "/desconto"
@model ATCSHARP.Pages.Pacotes.CalcularDesconto

@{
    ViewData["Title"] = "Simular um desconto";
}

<h1>Simule um pacote turístico com desconto!</h1>

<h4>Pacote Turistico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PacoteTuristico.DataInicio" class="control-label"></label>
                <input asp-for="PacoteTuristico.DataInicio" class="form-control" />
                <span asp-validation-for="PacoteTuristico.DataInicio" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PacoteTuristico.CapacidadeMaxima" class="control-label"></label>
                <input asp-for="PacoteTuristico.CapacidadeMaxima" class="form-control" />
                <span asp-validation-for="PacoteTuristico.CapacidadeMaxima" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Seu preço sugerido para este pacote: </label>
                <input asp-for="PacoteTuristico.Preco" class="form-control" />
                <span asp-validation-for="PacoteTuristico.Preco" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label>Cidades do Pacote</label>
                <div>
                    @foreach (var cidade in Model.TodasCidades) {
                        <div class="form-check">
                            <input class="form-check-input"
                            type="checkbox"
                            name="CidadesSelecionadas"
                            value="@cidade.Value"
                            id="cidade_@cidade.Value" />
                            <label class="form-check-label" for="cidade_@cidade.Value">
                                @cidade.Text
                            </label>
                        </div>
                    }
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Simular " class="btn btn-primary" />
            </div>
        </form>

        @if (Model.PrecoComDesconto > 0) {
            <div>
                <br />
                <p><strong>Preço com 10% de desconto: </strong> R$@Model.PrecoComDesconto.ToString()</p>
            </div>
            <div>
                <br />
                <p><strong>Simulação dentro da List de memória:</strong></p>
                <ul>
                    @foreach (var log in Model.Memoria) {
                        <li>@log</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
