@page
@model ATCSHARP.Pages.Cidades.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Vcoê tem certeza que quer deletar essa cidade?</h3>
<div>
    <h4>CidadeDestino</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeDestino.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CidadeDestino.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CidadeDestino.PaisDestino)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CidadeDestino.PaisDestino.Nome)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CidadeDestino.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar para lista</a>
    </form>
</div>
